@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Monash Startup Bay<br />
    Clayton, VIC 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    0452111000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@hikertrails.com">Support@hikertrails.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@hikertrails.com">Marketing@hikertrails.com</a>
</address>