@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HikerTrails</h1>
    <p class="lead">Meet your hikes!!</p>
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>